* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-size: 16px;
}

.wrap {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.main {
    color: #fff;
    position: relative;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
}

.main > img {
    width: 100%;
}

.main > ul {
    font-family: 'NOTOSANSCJK-REGULAR','Microsoft YaHei' ;
    position: absolute;
    top: 6%;
    right: 8%;
    overflow: hidden;
}

.main > ul li {
    float: left;
}

.main > ul a {
    color: rgba(255,255,255,0.8);
    margin-left: 40px;
    font-size: 1.2rem;
}

.content {
    width: 850px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 42%;
    margin-left: -425px;
    font-weight: bold;
    text-align: center;
    font-family: 'NOTOSANSCJK-BOLD','Microsoft YaHei';
    background: url("../images/kuang.png") no-repeat center bottom;
    background-size: contain;
}

.content > h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: -40px;
    color: rgba(255,255,255,0.7);
}

.content > p {
    color: rgba(255,255,255,0.7);
    font-size: 4.0625rem;
    font-weight: bold;
    margin-top: 15px;
    white-space: nowrap;
}

.main-bottom {
    font-family: 'NOTOSANSCJK-REGULAR','Microsoft YaHei' ;
    width: 500px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}

.main-bottom > p {
    letter-spacing: 20px;
    font-size: 1.5rem;
    padding-left: 20px;
}

.main-bottom p + p {
    letter-spacing: 0;
    font-size: 1rem;
    margin-top: 10px;
    padding-left: 0;

}

.main > i {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url("../images/down.png") no-repeat;
    background-size: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.message li {
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 15%;
    margin-top: 80px;
}

.message li:last-child {
    margin-bottom: 80px;
}

.message span {
    color: #14318f;
    font-size: 1.5rem;
    padding-left: 30px;
    background: no-repeat left center;
    background-size: 23px;
}

.message p {
    color: #3099ea;
    font-size: 1.5rem;
    margin-top: 2px;
}


