@font-face {
    font-family: 'NOTOSANSCJK-REGULAR';
    src: url('../fonts/NOTOSANSCJK-REGULAR-1.OTF');
}
@font-face {
    font-family: 'NOTOSANSCJK-MEDIUM';
    src: url('../fonts/NOTOSANSCJK-MEDIUM-5.OTF');
}
@font-face {
    font-family: 'NOTOSANSCJK-BOLD';
    src: url('../fonts/NOTOSANSCJK-BOLD-6.OTF');
}
